@use "../../styles/mixins" as *;
@use "../../styles/palette" as *;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1000;

    .modal-content {
        background: white;
        padding: 0.9375rem;
        border-radius: $border-radius;
        position: relative;
        max-width: 35rem;
        width: 100%;
        box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
        color: black;
        margin: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border: 0.25rem solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0.5rem 0 $quiz-3-hex;

        .modal-header {
            font-weight: bold;
            background: #ffffff;
            font-size: 1.2rem;
            height: .5rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .modal-close {
                background: none;
                border: none;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }

        .modal-body {
            @include buttons;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
        }

    }

}