$border-radius: 0.75rem !default;

@mixin btnApp {
    align-items: center;
    background-color: #ffb957;
    border: 2px solid #111;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 auto;
    font-weight: bold;

    &::after {
        background-color: #111;
        border-radius: $border-radius;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    &:hover::after {
        transform: translate(0, 0);
    }
}

@mixin logoGOG {
    .logo {
        width: 100px;
        filter: brightness(99);
    }
}

@mixin logoEvent {
    .logoEvent {
        width: 220px;
    }
}

@mixin buttons {

  button,
  input {
    cursor: pointer;
    border-radius: $border-radius;
    padding: 0.25rem 1.25rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0.375rem 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}