/* Color Theme Swatches in Hex */
$quiz-1-hex: #DB375F;
$quiz-2-hex: #1E2F5A;
$quiz-3-hex: #24648E;
$quiz-4-hex: #D9B68A;
$quiz-5-hex: #D7615D;
$quiz-6-hex: #66e0cc;
$quiz-7-hex: #F2E9E1; // soft off-white
$quiz-8-hex: #20bdb6; // muted teal
$quiz-9-hex: #A88B7D; // warm taupe
$background-ranking: #f3dec2;
$color-text-ranking: #5a4a3a;
$border-ranking: #dcbfa0;
$bg-color: #2f0b27;