@use "./mixins" as *;
@use "./palette" as *;

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

@include logoGOG;

.loginCard {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  z-index: 0;

  input {
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }

  .confirmButton {
    @include btnApp;
  }
}

.card {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;

  .timer {
    font-size: 10rem;
    color: $quiz-5-hex;
    font-weight: bold;
    text-align: center;
    display: flex;
    column-gap: 3rem;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }



    span {
      small {
        font-size: 2rem;
      }
    }
  }

  .twoColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

  }
}

.adminContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 2rem;
}

.rankItem {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #eee;

}

.badge {
  background: #e1f5fe;
  color: #01579b;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.85rem;
  margin: 5px;
  display: inline-block;
  font-size: 1.2rem;
}

.controlPanel {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  translate: -50%;
  background: rgb(255 255 255 / 20%);
  padding: 0.5rem;
  border-radius: 0.9rem;
  position: fixed;
  z-index: 2;
  @include buttons;
}

.settings-row {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  width: 60%;
  justify-content: space-between;
}

.onlineSection {
  font-size: 1.5rem;
}

.rankSection {
  font-size: 1.5rem;

  .rankList {
    font-size: 1.2rem;
    border-radius: 0.75rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;

    .listItem {
      font-size: 2rem;
      display: flex;
      align-items: center;
    }
  }

  .plusBtn,
  .minusBtn {
    background-color: #e1f5fe;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .minusBtn {
    background-color: $quiz-5-hex;
  }

}

.btnSelected {
  background-color: $quiz-3-hex;
  color: white;
}

.questionSquares {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
}

.square {
  width: 45px;
  height: 45px;
  border: 1px solid $quiz-3-hex;
  background: $quiz-3-hex;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  position: relative;
  border-radius: 0.2rem;

  &.CORRECT {
    background-color: #2ecc71;
    border-color: #27ae60;
    color: white;
  }

  &.WRONG {
    background-color: #e74c3c;
    border-color: #c0392b;
    color: white;
  }

  &.PASS {
    background-color: #f1c40f;
    border-color: #f39c12;
    color: black;
  }

  // Stile per la domanda in corso
  &.current {
    border: 3px solid #00d4ff;
    box-shadow: 0 0 10px #00d4ff;
    transform: scale(1.1);
    z-index: 1;
  }

  &.activePointer {
    border: 4px solid #ff9900 !important; // Celeste acceso
    box-shadow: 0 0 15px rgba(255, 153, 0, 0.8);
    transform: scale(1.15);
    background-color: #333;
    z-index: 2;

    // Piccola freccia sopra il quadrato (opzionale)
    // &::before {
    //   content: '▼';
    //   position: absolute;
    //   top: -25px;
    //   color: #00f2ff;
    //   font-size: 14px;
    //   animation: bounce 0.5s infinite alternate;
    // }
  }
}

// Stile per la card della squadra di turno
.teamDuelBox.active {
  // border: 2px solid gold;
  // background: rgba(255, 215, 0, 0.05);
  // transition: all 0.5s ease;

}

.winnerAnnounce {
  background: gold;
  color: black;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  animation: pulse 1s infinite;
}

.duelFlex {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;


  .teamDuelBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

    .teamName {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      margin-top: 0;
      padding: .5rem;
      background-color: $quiz-5-hex;
      border-radius: 0.9rem;
    }

    .squareGrid {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: .5rem;
    }

    .timerLarge {
      font-size: 3rem;
      color: $quiz-5-hex;
      font-weight: bold;
      text-align: center;
    }
  }
}

@include logoEvent;

.sarabandaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

.duelBtn {
  background-color: $quiz-4-hex
}