@use "./mixins" as *;
@use "./palette" as *;



.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

@include logoGOG;

.loginCard {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  z-index: 0;

  input {
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
.confirmButton {
    @include btnApp;
}
}

.card {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.adminContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 2rem;
}

.rankItem {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #eee;

  &.winner {
    background: #ffd700; // Assicurati di averla definita in _variables.scss
    border-color: darken(#ffd700, 10%);
    font-weight: bold;
    transform: scale(1.02);
  }
}

.badge {
  background: #e1f5fe;
  color: #01579b;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.85rem;
  margin: 5px;
  display: inline-block;
}

.controlPanel {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  translate: -50%;
  background: rgb(255 255 255 / 20%);
  padding: 0.5rem;
  border-radius: 0.9rem;
  @include buttons;
}

.settings-row {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  width: 60%;
  justify-content: space-between;
}

.onlineSection{
  font-size: 1.5rem;
}

.rankSection {

  .rankList {
    font-size: 1.5rem;
    width: 100%;
    border-radius: 0.75rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
    border: 0.25rem solid $quiz-3-hex;
    overflow: auto;

    .listItem{
      font-size: 2rem;
    }
  }

}