@forward './_fonts.scss';
body {
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Saira", sans-serif;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
    margin: 0;
  }

  .app-container {
    height: 100vh;
    display: flex;
    position: relative;
    width: 100%;

    overflow: hidden;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: url('https://img.freepik.com/free-vector/abstract-pixel-rain-background_23-2148375193.jpg?t=st=1770929875~exp=1770933475~hmac=2480aa762e7e7fc7b632cfddf3629b9ccef66c3f19b63ba8058ff09c849c486c&w=1480');
      z-index: -1;
      // filter: hue-rotate(67deg) blur(8px);
      background-color: #1E2F5A;
    }
  }
}