body {
    margin: 0;
    font-family: sans-serif;
    background: #1a1a2e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    

    .logo {
        width: 100px;
        filter: brightness(99);
        position: fixed;
        top: 2rem;
    }

    .container {
        text-align: center;
        width: 90%;
    }

    input {
        padding: 15px;
        width: 80%;
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
        font-size: 1.2em;
        text-align: center;
    }

    #buzzer {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 8px solid #16213e;
        background: radial-gradient(#e94560, #950740);
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        box-shadow: 0 15px 0 #4e0e2e, 0 20px 30px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 0.1s;
        touch-action: manipulation;
    }

    #buzzer:active:not(:disabled) {
        transform: translateY(10px);
        box-shadow: 0 5px 0 #4e0e2e;
    }

    #buzzer:disabled {
        background: #444;
        box-shadow: none;
        color: #888;
        transform: translateY(10px);
    }

    #status {
        margin-top: 30px;
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
    }

    .timer-display {
        font-size: 6em;
        color: #e94560;
        margin: 10px;
        font-family: fantasy, sans-serif;
    }
    

    .confirm-button {
        align-items: center;
        background-color: #ffb957;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin: 0 auto;
        font-weight: bold;

        &::after {
            background-color: #111;
            border-radius: 8px;
            content: "";
            display: block;
            height: 48px;
            left: 0;
            width: 100%;
            position: absolute;
            top: -2px;
            transform: translate(8px, 8px);
            transition: transform .2s ease-out;
            z-index: -1;
        }

        &:hover::after {
            transform: translate(0, 0);
        }
    }
    
}